<%= image_tag "detail2.jpeg", class:"detail" %>
<h1>Queens_closet</h1>
<h3>brand詳細</h3>
<div class="post">
  <p><%= @post.name %></p>
  <%= image_tag @post.image_url, size: "250x280" if @post.image? %>
  <%= image_tag @post.image2_url, size: "250x280" if @post.image2? %>
  <%= image_tag @post.image3_url, size: "250x280" if @post.image3? %>
  <%= image_tag @post.image4_url, size: "250x280" if @post.image4? %>
  <p><%= @post.detail %></p>

  <p><%= @post.created_at %></p>
  <% if user_signed_in? %>
      <% if current_user.already_liked?(@post) %>
        <%= button_to post_like_path(@post), method: :delete do %>
          <i class="fas fa-heart"></i><%= @post.likes.count %>
          <% end %>
      <% else %>
        <%= button_to post_likes_path(@post), method: :post do %>
          <i class="far fa-heart "></i><%= @post.likes.count %>
        <% end %>
      <% end %>
    <% else %>
      <p>いいねの数 = </p><%= @post.likes.count %>
    <% end %>
    <!--
    <%= link_to "編集する", edit_post_path(@post.id) %>
    -->
</div>

<h2>いいねしたユーザー</h2>
<% @post.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<%= link_to "Post一覧に戻る", posts_path %>
<!--
<%= link_to "編集する", edit_post_path(@post.id) %>
-->
